@{
    Layout = "~/Views/Shared/_NavShare.cshtml";
}
<!DOCTYPE html>

<link href="~/Content/ChartsForFun.css" rel="stylesheet" />
<!-- Left side column. contains the logo and sidebar -->
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
 
</section>

<!-- Main content -->

<section class="content">

    <!-- Info boxes -->
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <!-- MAP & BOX PANE -->
                <div class="col-md-9 col-sm-8">
                    <div class="pad">
                        <!-- Map will be created here -->
                        <div class="background">
                            <div onclick="" class="card">
                                <div class="photo"></div>
                                <h2>TICKET PRIORITIES</h2>
                                <p>by Amount in Project</p>
                                <div class="chart">
                                    <div class="bar bar1"><span id="PriorityBar2"></span></div>
                                    <div class="bar bar2"><span id="PriorityBar3"></span></div>
                                    <div class="bar bar3"><span id="PriorityBar1"></span></div>
                                    <div class="bar bar4"> <span id="PriorityBar"></span></div>
                                    <div class="bar bar5 bar2"><span id="PriorityBar4"></span></div>
                                </div>
                            </div>

                            <div class="info">Click to toggle details view</div>
                        </div>

                    </div>
                </div>
            <!-- /.col -->
            <!-- /.col -->
            <!-- /.row -->
        </div>

        <div class="col-md-6">
            <!-- MAP & BOX PANE -->
                <div class="col-md-9 col-sm-8">
                    <div class="pad">
                        <!-- Map will be created here -->

                        <div class="background">

                            <div class="card">
                                <div class="photo"></div>
                                <h2>TICKET Status</h2>
                                <p>by Percent in Project</p>
                                <div class="chart">

                                </div>
                            </div>

                            <div class="info">Click to toggle details view</div>
                        </div>

                    </div>
                </div>
            <!-- /.col -->
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-6">
            <!-- MAP & BOX PANE -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tickets</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-9 col-sm-8">
                            <div class="pad">
                                <!-- Map will be created here -->
                                <div id="fusionchart"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <!-- DIRECT CHAT -->
                    <!--/.direct-chat -->
                </div>
                <!-- /.col -->
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- TABLE: LATEST ORDERS -->
            <!-- /.box -->
        </div>


        <!-- /.box-body -->
        <!-- /.box -->
        <div class="row">
            <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <!--/.direct-chat -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- TABLE: LATEST ORDERS -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
    </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.13
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
    reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                            <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-user bg-yellow"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                            <p>New phone +1(800)555-1234</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                            <p>nora@example.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-file-code-o bg-green"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                            <p>Execution time 5 seconds</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="label label-danger pull-right">70%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Update Resume
                            <span class="label label-success pull-right">95%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Laravel Integration
                            <span class="label label-warning pull-right">50%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Back End Framework
                            <span class="label label-primary pull-right">68%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

        </div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Allow mail redirect
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Other sets of options are available
                    </p>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Expose author name in posts
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Allow the user to show his name in blog posts
                    </p>
                </div>
                <!-- /.form-group -->

                <h3 class="control-sidebar-heading">Chat Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Show me as online
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Turn off notifications
                        <input type="checkbox" class="pull-right">
                    </label>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Delete chat history
                        <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                    </label>
                </div>
                <!-- /.form-group -->
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->


@section scripts{

    @*<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>*@
    @*<script src="~/Scripts/HighChart.js"></script>*@
    @*<script type="text/javascript">
         $(function () {
             $.post('@Url.Action("GetHighPieData","HighChart")').then(function (response) {
                 new Fusion.Donut({
                     element: 'PriorityBar7',
                     data: response,
                     gridTextSize: 10,
                     xkey: 'label',
                     ykeys: ['value'],
                     labels: ['Ticket Count'],
                     resize: true
                 })
             })
         })
    </script>*@

    @*<script type="text/javascript">
        $(function () {

            $.post('@Url.Action("GetPriorityData2", "HighChart")').then(function (response) {
                new Morris.Bar({
                    element: 'PriorityBar',
                    data: response.value,
                    gridTextSize: 10,
                    xLabelAngle: 65,
                    xkey: response.label,
                    ykeys: response.value,
                    labels: ['Ticket Count']
                });
            });
        });
        </script>*@
    <script>
    $(function () {
        var url = '@Url.Action("GetPriorityData", "HighChart", new { priority = "Low"})';
        $.post(url).then(function (response) {
        new Morris.Bar({
            element: 'PriorityBar2',
            data: [response],
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: [' Count']
            });
        });
    });
    </script>
    <script>
    $(function () {
        var url = '@Url.Action("GetPriorityData", "HighChart", new { priority = "Immediate"})';
        $.post(url).then(function (response) {
        new Morris.Bar({
            element: 'PriorityBar3',

            data: [response],
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
            });
        });
    });
    </script>
    <script>
    $(function () {
        var url = '@Url.Action("GetPriorityData", "HighChart", new { priority = "High"})';
        $.post(url).then(function (response) {
        new Morris.Bar({
            element: 'PriorityBar4',
            data: [response],
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
            });
        });
    });
    </script>
    <script>
    $(function () {
        var url = '@Url.Action("GetPriorityData", "HighChart", new { priority = "None"})';
        $.post(url).then(function (response) {
        new Morris.Bar({
            element: 'PriorityBar',
            data: [response],
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
            });
        });
    });
    </script>
    <script>
    $(function () {
        var url = '@Url.Action("GetPriorityData", "HighChart", new { priority = "Medium"})';
        $.post(url).then(function (response) {
        new Morris.Bar({
            element: 'PriorityBar1',
            data: [response],
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
            });
        });
    });
    </script>

    <script>
    @*$(function () {
        var url = '@Url.Action("GetHighPieData", "HighChart")';
        $.post(url).then(function (response) {
            new Morris.Pie({
            element: 'status-pie',
            data: response,
            gridTextSize: 10,
            xLabelAngle: 65,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['percent']
            });
        });
    });*@
    </script>
    <script>
        $(function () {
            var url = '@Url.Action("GetHighPieData", "HighChart")';
            $.post(url).then(function (response) {
                var chart = new Fusion.Pie({
                    type: "pie3d",
                    renderAt:"fusionchart",
                    width: "100%",
                    height: "100%",
                    dataFormat: "json",
                    dataSource: {
                        "chart": {
                            caption: "Ticket Status by Percent",
                            subcaption: "",
                            xAxisName: "label",
                            yAxisName: "value",
                           
                            numberSuffix: "",
                            theme: "fusion"
                        },
                        "data": [response]

                    }
                }).render();
            });
            });
    </script>
    @*<script>
        $(function () {

            $.post('@Url.Action("GetPriorityData", "HighChart")').then(function (response) {
                new Morris.Bar({
                    element: 'PriorityBar3',
                    data: response,
                    gridTextSize: 10,
                    xLabelAngle: 65,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count']
                });
            });
        });
        </script>*@

}