@using FireTracker2.Helpers

@model FireTracker.Models.Ticket
@{
    Layout = "~/Views/Shared/_NavShare.cshtml";
    ViewBag.Title = "Details";
}


<div class="box box-solid bg-light-blue-gradient">
    <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                    title="Date range">
                <i class="fa fa-calendar"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                    data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /. tools -->

        <i class="fa fa-map-marker"></i>

        <h3 class="box-title">
            Visitors
        </h3>
    </div>
    <div class="box-body">
        @*@if (DecisionHelper.IsTicketEditableByUser(Model))
        {

        }*@
        @foreach (var attachment in Model.TicketAttachments)
        {
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a target="_blank" href="@attachment.FileUrl">@Path.GetFileName(attachment.FileUrl)</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        @attachment.Created.ToString("MM dd,yyyy")
                    </div>
                    <div class="col-md-6">
                        @attachment.User.FullName
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @attachment.Title
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @attachment.Description
                    </div>
                </div>
            </div>
        </div>
        }

    </div>
    <!-- /.box-body-->
    <div class="box-footer no-border">
        <div class="row">
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <div id="sparkline-1"></div>
                <div class="knob-label">Visitors</div>
            </div>
            <!-- ./col -->
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <div id="sparkline-2"></div>
                <div class="knob-label">Online</div>
            </div>
            <!-- ./col -->
            <div class="col-xs-4 text-center">
                <div id="sparkline-3"></div>
                <div class="knob-label">Exists</div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
</div>

@foreach (var attachment in Model.TicketAttachments)
{

}
