@{
    Layout = "~/Views/Shared/_NavShare.cshtml";
}
@using FireTracker2.Models
@using FireTracker2.Helpers
@model IEnumerable<Project>

@{
    var projHelp = new ProjectHelper();
    var roleHelper = new RoleHelp();
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Projects</h3>
                    @Html.ActionLink("Create Project", "Create", "Projects")
                    @Html.ActionLink("Back to user index", "UserIndex", "Admin")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Name)</th>
                                <th> @Html.DisplayNameFor(model => model.Description)</th>
                                <th> @Html.DisplayName("Project Managers On Project")</th>
                                <th> @Html.DisplayName("Developers On Project")</th>
                                <th> @Html.DisplayName("Submitters On Project")</th>
                                <th> @Html.DisplayName("More Options")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>
                                        @foreach (var user in projHelp.UsersInRoleOnProject(item.Id, "ProjectManager").ToList())
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @user
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var user in projHelp.UsersInRoleOnProject(item.Id, "Developer").ToList())
                                        {
                                        <div class="row">
                                            <div class="col-md-12">
                                                @user
                                            </div>
                                        </div>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var user in projHelp.UsersInRoleOnProject(item.Id, "Submitter").ToList())
                                        {
                                        <div class="row">
                                            <div class="col-md-12">
                                                @user
                                            </div>
                                        </div>
                                            }
                                    </td>
                                        @*<td> @projHelp.UsersOnProject(item.Id).FirstOrDefault()</td>*@
                                        <td>
                                            @Html.ActionLink("Manage Projects", "Details", new { Id = item.Id }) |
                                            @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                                        </td>
                                        </tr>
                                    }
                            </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th> @Html.DisplayNameFor(model => model.Description)</th>
                                <th> @Html.DisplayName("Users On Project")</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>