@using FireTracker2.ViewModels
@using FireTracker2.Models
@using Microsoft.AspNet.Identity;
@using FireTracker2.Helpers

<!DOCTYPE html>
@{ 
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var modelUser = db.Users.Find(userId);
}
<html>
<head>

    <style>
        .dashbackblk {
            background-image: url('../../Image/carbon-fiber-wallpaper-hd-1.jpg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
          
            height: 100% !important;
        }
        .dashbackred {
            background-image: url('../../Image/Red-Carb.jpg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
       
            height: 100% !important;
        }
        .dashbackylw {
            background-image: url('../../Image/Yellow-Carb.jpg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
 
            height: 100% !important;
        }
        .dashbackblu {
            background-image: url('../../Image/Blue-Carb.jpg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
    
            height: 100% !important;
        }
         
        .main-header .logo {
            padding: 0 !important;
        }

            .main-header .logo img {
                padding: unset !important;
                object-fit: unset !important;
                margin: unset !important;
            }

        

        .logoimg {
            background-image: url('../../Image/FIREtracker.png');
            width: 250px;
            height: 50px;
            background-color: #cccccc;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 250px;
        }
        .backimg {
            background-image: url('../../Image/17924.jpg');
            width: auto;
            height: auto;
            background-color: #cccccc;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 250px;
        }

        [Name~=Important] {
            background-color: red;
            background-size: auto;
            font: 400;
            color: gold;
        }

        [Name~=High] {
            background-color: gold;
            background-size: auto;
            font: 400;
            color: red;
        }

        [Name~=Medium] {
            background-color: orangered;
            background-size: auto;
            font: 400;
            color: white;
        }

        [Name~=Low] {
            background-color: forestgreen;
            background-size: auto;
            font: 400;
            color: black;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="~/fonts/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-select2.css" rel="stylesheet" />

    <link href="~/Content/AdminLTE-bootstrap-social.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-bootstrap-social.css" rel="stylesheet" />
    <!---google font--->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <!-- jvectormap -->
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
    <!-- Theme style -->
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link href="~/Content/_all-skins.css" rel="stylesheet" />
</head>

<body>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Developer"))
        {
            <div class="hold-transition skin-blue sidebar-mini">
                <div class="wrapper">

                    <header class="main-header">

                        <!-- Logo -->
                        <a href="@Url.Action("Dashboard", "Home")" class="logo">
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><b>A</b>LT</span>
                            <!-- logo for regular state and mobile devices -->
                            <span href="@Url.Action("Dashboard", "Home")" class="logo-lg"><b>Admin</b>LTE</span>
                        </a>

                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <!-- Navbar Right Menu -->
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- Messages: style can be found in dropdown.less-->
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="label label-success">@NotifyHelper.GetNewUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetNewUserNotificationCount() messages</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    @foreach (var notification in NotifyHelper.GetUnreadUserNotifications())
                                                    {
                                                        using (Html.BeginForm("MarkRead", "TicketNotifications"))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("Id", notification.Id)
                                                            <li>
                                                                <!-- start message -->
                                                                <a href="#">
                                                                    <div class="pull-left">
                                                                        <img src="@notification.Sender.AvatarUrl" class="img-circle" alt="@notification.Sender.Email">
                                                                    </div>
                                                                    <h4>
                                                                        @notification.Sender.FullName
                                                                        <small><i class="fa fa-clock-o"></i> @notification.Created.ToString("MM/dd/yyyy")</small>
                                                                    </h4>
                                                                    <p>@notification.Subject</p>
                                                                </a>
                                                            </li>
                                                            <!-- end message -->
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">See All Messages</a></li>
                                        </ul>
                                    </li>
                                    <!-- Notifications: style can be found in dropdown.less -->
                                    <li class="dropdown notifications-menu">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="label label-warning">@NotifyHelper.GetAllUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetAllUserNotificationCount() notifications</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">

                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                            page and may cause design problems
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> You changed your username
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">View all</a></li>
                                        </ul>

                                    </li>
                                    <!-- Tasks: style can be found in dropdown.less -->
                                    <li class="dropdown tasks-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-flag-o"></i>
                                            <span class="label label-danger">9</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have 9 tasks</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Design some buttons
                                                                <small class="pull-right">20%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">20% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Create a nice theme
                                                                <small class="pull-right">40%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">40% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Some task I need to do
                                                                <small class="pull-right">60%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Make beautiful transitions
                                                                <small class="pull-right">80%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">80% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a href="#">View all tasks</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- User Account: style can be found in dropdown.less -->

                                    <li class="dropdown user user-menu">
                                        @{
                                            Html.RenderAction("GetUser", "Account");
                                        }
                                    </li>

                                    <!-- Control Sidebar Toggle Button -->
                                    <li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </header>
                    <!-- sidebar: style can be found in sidebar.less -->
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="@modelUser.AvatarUrl" class="img-circle" alt="User Image">
                                </div>
                                <div class="pull-left info">
                                    <p>@modelUser.FullName</p>
                                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                </div>
                            </div>
                            <!-- search form -->
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- /.search form -->
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <ul class="sidebar-menu" data-widget="tree">
                                <li class="header">MAIN NAVIGATION</li>
                                <li class="active treeview menu-open">
                                    <a href="#">
                                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Projects</span>
                                        <span class="pull-right-container">
                                            <span class="label label-primary pull-right">4</span>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Projects")"><i class="fa fa-circle-o"></i> Index</a></li>
                                    </ul>
                                </li>
                                <li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Users</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("UserIndex", "Admin")"><i class="fa fa-circle-o"></i> ManageRoles</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Tickets</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Tickets")"><i class="fa fa-circle-o"></i> Index</a></li>
                                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Dashboard</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </section>
                        <!-- /.sidebar -->
                    </aside>
                    <div class="content-wrapper dashbackblu">
                        @RenderBody()
                    </div>
                    <!-- /.control-sidebar -->
                    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        }
        if (User.IsInRole("Admin"))
        {
            <div class="hold-transition skin-red sidebar-mini">
                <div class="wrapper">

                    <header class="main-header">

                        <!-- Logo -->
                        <a href="@Url.Action("Dashboard", "Home")" class="logo">
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><b>A</b>LT</span>
                            <!-- logo for regular state and mobile devices -->
                            <div class="logoimg" style="width:250px; height:50px">
                                <b>Fire</b>Tracker
                            </div>
                        </a>

                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <!-- Navbar Right Menu -->
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- Messages: style can be found in dropdown.less-->
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="label label-success">@NotifyHelper.GetNewUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetNewUserNotificationCount() messages</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    @foreach (var notification in NotifyHelper.GetUnreadUserNotifications())
                                                        {
                                                            using (Html.BeginForm("MarkRead", "TicketNotifications"))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("Id", notification.Id)
                                                                <li>
                                                    <!-- start message -->
                                                    <a href="#">
                                                                <div class="pull-left">
                                                                    <img src="@notification.Sender.AvatarUrl" class="img-circle" alt="@notification.Sender.Email">
                                                                </div>
                                                                <h4>
                                                                    @notification.Sender.FullName
                                                                    <small><i class="fa fa-clock-o"></i> @notification.Created.ToString("MM/dd/yyyy")</small>
                                                                </h4>
                                                                <p>@notification.Subject</p>
                                                            </a>
                                                        </li>
                                                    <!-- end message -->
                                                    }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">See All Messages</a></li>
                                        </ul>
                                    </li>
                                    <!-- Notifications: style can be found in dropdown.less -->
                                    <li class="dropdown notifications-menu">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="label label-warning">@NotifyHelper.GetAllUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetAllUserNotificationCount() notifications</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">

                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                            page and may cause design problems
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> You changed your username
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">View all</a></li>
                                        </ul>

                                    </li>
                                    <!-- Tasks: style can be found in dropdown.less -->
                                    <li class="dropdown tasks-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-flag-o"></i>
                                            <span class="label label-danger">9</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have 9 tasks</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Design some buttons
                                                                <small class="pull-right">20%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">20% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Create a nice theme
                                                                <small class="pull-right">40%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">40% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Some task I need to do
                                                                <small class="pull-right">60%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Make beautiful transitions
                                                                <small class="pull-right">80%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">80% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a href="#">View all tasks</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- User Account: style can be found in dropdown.less -->

                                    <li class="dropdown user user-menu">
                                        @{
                                            Html.RenderAction("GetUser", "Account");
                                        }
                                    </li>

                                    <!-- Control Sidebar Toggle Button -->
                                    <li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </header>
                    <!-- sidebar: style can be found in sidebar.less -->
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="@modelUser.AvatarUrl" class="img-circle" alt="User Image">
                                </div>
                                <div class="pull-left info">
                                    <p>@modelUser.FullName</p>
                                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                </div>
                            </div>
                            <!-- search form -->
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- /.search form -->
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <ul class="sidebar-menu" data-widget="tree">
                                <li class="header">MAIN NAVIGATION</li>
                                <li class="active treeview menu-open">
                                    <a href="#">
                                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Projects</span>
                                        <span class="pull-right-container">
                                            <span class="label label-primary pull-right">4</span>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Projects")"><i class="fa fa-circle-o"></i> Index</a></li>
                                    </ul>
                                </li>
                                <li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Users</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("UserIndex", "Admin")"><i class="fa fa-circle-o"></i> ManageRoles</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Tickets</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Tickets")"><i class="fa fa-circle-o"></i> Index</a></li>
                                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                  
                                    </ul>
                                </li>
                            </ul>
                        </section>
                        <!-- /.sidebar -->
                    </aside>
                    <div class="content-wrapper dashbackred">
                            @RenderBody()
                    </div>
                            <!-- /.control-sidebar -->
                            <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
                            <div class="control-sidebar-bg"></div>
                        </div>
            </div>
        }
        if (User.IsInRole("Submitter"))
        {
            <div class="hold-transition skin-black sidebar-mini">
                <div class="wrapper">

                    <header class="main-header">

                        <!-- Logo -->
                        <a href="@Url.Action("Dashboard", "Home")" class="logo">
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><b>A</b>LT</span>
                            <!-- logo for regular state and mobile devices -->
                            <span href="@Url.Action("Dashboard", "Home")" class="logo-lg"><b>Admin</b>LTE</span>
                        </a>

                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <!-- Navbar Right Menu -->
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- Messages: style can be found in dropdown.less-->
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="label label-success">@NotifyHelper.GetNewUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetNewUserNotificationCount() messages</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    @foreach (var notification in NotifyHelper.GetUnreadUserNotifications())
                                                    {
                                                        using (Html.BeginForm("MarkRead", "TicketNotifications"))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("Id", notification.Id)
                                                            <li>
                                                                <!-- start message -->
                                                                <a href="#">
                                                                    <div class="pull-left">
                                                                        <img src="@notification.Sender.AvatarUrl" class="img-circle" alt="@notification.Sender.Email">
                                                                    </div>
                                                                    <h4>
                                                                        @notification.Sender.FullName
                                                                        <small><i class="fa fa-clock-o"></i> @notification.Created.ToString("MM/dd/yyyy")</small>
                                                                    </h4>
                                                                    <p>@notification.Subject</p>
                                                                </a>
                                                            </li>
                                                            <!-- end message -->
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">See All Messages</a></li>
                                        </ul>
                                    </li>
                                    <!-- Notifications: style can be found in dropdown.less -->
                                    <li class="dropdown notifications-menu">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="label label-warning">@NotifyHelper.GetAllUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetAllUserNotificationCount() notifications</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">

                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                            page and may cause design problems
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> You changed your username
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">View all</a></li>
                                        </ul>

                                    </li>
                                    <!-- Tasks: style can be found in dropdown.less -->
                                    <li class="dropdown tasks-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-flag-o"></i>
                                            <span class="label label-danger">9</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have 9 tasks</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Design some buttons
                                                                <small class="pull-right">20%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">20% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Create a nice theme
                                                                <small class="pull-right">40%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">40% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Some task I need to do
                                                                <small class="pull-right">60%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Make beautiful transitions
                                                                <small class="pull-right">80%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">80% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a href="#">View all tasks</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- User Account: style can be found in dropdown.less -->

                                    <li class="dropdown user user-menu">
                                        @{
                                            Html.RenderAction("GetUser", "Account");
                                        }
                                    </li>

                                    <!-- Control Sidebar Toggle Button -->
                                    <li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </header>
                    <!-- sidebar: style can be found in sidebar.less -->
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="@modelUser.AvatarUrl" class="img-circle" alt="User Image">
                                </div>
                                <div class="pull-left info">
                                    <p>@modelUser.FullName</p>
                                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                </div>
                            </div>
                            <!-- search form -->
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- /.search form -->
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <ul class="sidebar-menu" data-widget="tree">
                                <li class="header">MAIN NAVIGATION</li>
                                <li class="active treeview menu-open">
                                    <a href="#">
                                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Projects</span>
                                        <span class="pull-right-container">
                                            <span class="label label-primary pull-right">4</span>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Projects")"><i class="fa fa-circle-o"></i> Index</a></li>
                                    </ul>
                                </li>
                                <li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Tickets</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Tickets")"><i class="fa fa-circle-o"></i> Index</a></li>
                                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Dashboard</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </section>
                        <!-- /.sidebar -->
                    </aside>
                    <div class="content-wrapper dashbackblk">
                        @RenderBody()
                    </div>
                    <!-- /.control-sidebar -->
                    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        }
        if (User.IsInRole("ProjectManager"))
        {
            <div class="hold-transition skin-yellow sidebar-mini">
                <div class="wrapper">

                    <header class="main-header">

                        <!-- Logo -->
                        <a href="@Url.Action("Dashboard", "Home")" class="logo">
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><b>A</b>LT</span>
                            <!-- logo for regular state and mobile devices -->
                            <span href="@Url.Action("Dashboard", "Home")" class="logo-lg"><b>Admin</b>LTE</span>
                        </a>

                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <!-- Navbar Right Menu -->
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- Messages: style can be found in dropdown.less-->
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="label label-success">@NotifyHelper.GetNewUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetNewUserNotificationCount() messages</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    @foreach (var notification in NotifyHelper.GetUnreadUserNotifications())
                                                    {
                                                        using (Html.BeginForm("MarkRead", "TicketNotifications"))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("Id", notification.Id)
                                                            <li>
                                                                <!-- start message -->
                                                                <a href="#">
                                                                    <div class="pull-left">
                                                                        <img src="@notification.Sender.AvatarUrl" class="img-circle" alt="@notification.Sender.Email">
                                                                    </div>
                                                                    <h4>
                                                                        @notification.Sender.FullName
                                                                        <small><i class="fa fa-clock-o"></i> @notification.Created.ToString("MM/dd/yyyy")</small>
                                                                    </h4>
                                                                    <p>@notification.Subject</p>
                                                                </a>
                                                            </li>
                                                            <!-- end message -->
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">See All Messages</a></li>
                                        </ul>
                                    </li>
                                    <!-- Notifications: style can be found in dropdown.less -->
                                    <li class="dropdown notifications-menu">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="label label-warning">@NotifyHelper.GetAllUserNotificationCount()</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have @NotifyHelper.GetAllUserNotificationCount() notifications</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">

                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                            page and may cause design problems
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> You changed your username
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">View all</a></li>
                                        </ul>

                                    </li>
                                    <!-- Tasks: style can be found in dropdown.less -->
                                    <li class="dropdown tasks-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-flag-o"></i>
                                            <span class="label label-danger">9</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">You have 9 tasks</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Design some buttons
                                                                <small class="pull-right">20%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">20% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Create a nice theme
                                                                <small class="pull-right">40%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">40% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Some task I need to do
                                                                <small class="pull-right">60%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                    <li>
                                                        <!-- Task item -->
                                                        <a href="#">
                                                            <h3>
                                                                Make beautiful transitions
                                                                <small class="pull-right">80%</small>
                                                            </h3>
                                                            <div class="progress xs">
                                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="sr-only">80% Complete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- end task item -->
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a href="#">View all tasks</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- User Account: style can be found in dropdown.less -->

                                    <li class="dropdown user user-menu">
                                        @{
                                            Html.RenderAction("GetUser", "Account");
                                        }
                                    </li>

                                    <!-- Control Sidebar Toggle Button -->
                                    <li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </header>
                    <!-- sidebar: style can be found in sidebar.less -->
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="@modelUser.AvatarUrl" class="img-circle" alt="User Image">
                                </div>
                                <div class="pull-left info">
                                    <p>@modelUser.FullName</p>
                                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                </div>
                            </div>
                            <!-- search form -->
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- /.search form -->
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <ul class="sidebar-menu" data-widget="tree">
                                <li class="header">MAIN NAVIGATION</li>
                                <li class="active treeview menu-open">
                                    <a href="#">
                                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Projects</span>
                                        <span class="pull-right-container">
                                            <span class="label label-primary pull-right">4</span>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Projects")"><i class="fa fa-circle-o"></i> Index</a></li>
                                    </ul>
                                </li>
                                <li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Users</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("UserIndex", "Admin")"><i class="fa fa-circle-o"></i> ManageRoles</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Tickets</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Tickets")"><i class="fa fa-circle-o"></i> Index</a></li>
                                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Dashboard</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </section>
                        <!-- /.sidebar -->
                    </aside>
                    <div class="content-wrapper dashbackylw">
                        @RenderBody()
                    </div>
                    <!-- /.control-sidebar -->
                    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        }

          
      

        
                                            <!-- jQuery 3 -->
        <script src="~/Scripts/FireJs/jquery.min.js"></script>
        <script src="~/Scripts/FireJs/jquery.knob.js"></script>
        <script src="~/Scripts/FireJs/dashboard2.js"></script>
        <!-- ChartJS -->
        <script src="~/Scripts/FireJs/Chart.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!-- jQuery UI 1.11.4 -->
        <script src="~/Scripts/FireJs/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>$.widget.bridge('uibutton', $.ui.button);</script>
        <!-- Morris.js charts -->
        <script src="~/Scripts/FireJs/raphael.min.js"></script>
        <script src="~/Scripts/FireJs/morris.js"></script>
        <!-- Sparkline -->
        <script src="~/Scripts/FireJs/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="~/Scripts/FireJs/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/Scripts/FireJs/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <!-- daterangepicker Data Table -->
        <script src="~/Scripts/jquery.dataTables.js"></script>
        <script src="~/Scripts/FireJs/moment.min.js"></script>

        <script src="~/Scripts/FireJs/daterangepicker.js"></script>
        <!-- datepicker -->

        <script src="~/Scripts/FireJs/bootstrap-datepicker.min.js"></script>
        <!-- Bootstrap WYSIHTML5 -->

        <script src="~/Scripts/FireJs/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->

        <script src="~/Scripts/FireJs/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->

        <script src="~/Scripts/FireJs/fastclick.js"></script>
        <!-- AdminLTE App -->

        <script src="~/Scripts/FireJs/adminlte.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!-- AdminLTE for demo purposes -->

        <script src="~/Scripts/FireJs/demo.js"></script>

        <!-- Bootstrap 3.3.7 -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- iCheck -->
        <script src="~/Scripts/icheck.min.js"></script>
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });
        </script>

        @RenderSection("scripts", required: false)
    }
</body>
</html>
